
.contacts {
	background-color: rgba(0,0,0,0.8);
	height: 41px;
	display: flex;
	justify-content: space-between;

}


.left {
	align-items: center;
	opacity: 0.8;
  

   

}


.left a {
	margin-right: 20px;
	color: white;
	display: flex;



}

.left p{
	margin-left: 10px;
}


.right {
	align-items: center;
    justify-content: flex-end;
    opacity: 0.8;
}


.right a {
    margin-left: 20px;
    color: white;
    display: flex;

}

.right p{
	margin-left: 5px;
}


.fixed {
    height: 82px;
	
	display: flex;
	

}

.fixed-left {
	
    width: 100%;
    align-items: center;
    

}

.fixed-left img {
  width: 80%;
  height: 40%;


	
	
}

.fixed-middle {
	
	align-items: center;

    

	
}

.fixed-middle a {

	margin-left: 50px;

	

	

}

.fixed-middle .a1{
    color: blue;
    

}

.fixed-right {
	
	align-items: center;
	width: 100%;
	justify-content: flex-end;	
}



