.point {

	background-image: url(../../images/bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 181vh;
	height: 500px;
	padding-top: 15%;
	position: relative;
}

.solutions {
	width: 30%;
	height: 70%;
	padding-left: 10%;
}

.solutions h3{

	font-weight: bold;
	font-size: 40px;
	line-height: 1.2;
}

.solutions p{
	padding-top: 10%;
	font-size: 14px;
	padding-bottom: 15%;
}

.solutions button {
	width: 34%;
	height: 12%;
	border-width: .0001px;
	border-radius: 8px;
	cursor: pointer;
	position: relative;
	z-index: 1;
}

.first-btn{
	background-color: #318CE7 ;
	color: #fff;
	margin-right: 15px;

}


.first-btn::after{ 
	content: '';
	position: absolute;
	background-color: #0070FF;
	left: 0;
	bottom: 0;
	top: 0;
	border-width: .0001px;
	border-radius: 8px;
	z-index: -1;
	width: 70%;
	transition: .4s;
	opacity: 0;

}

.first-btn:hover::after{
	bottom: 0;
	top: 0;
	left: 30%;
	opacity:.4;
}

.sec-btn:hover{
	color: #fff;

}

.sec-btn::after{
	content: '';
	position: absolute;
	background-color: black;
	right: 0;
	left: 0;
	bottom: 0;
	top: 0;
	border-width: .0001px;
	border-radius: 8px;
	z-index: -1;
	width: 0;
	transition: .4s;
}

.sec-btn:hover::after {
	width: 100%;


}

.dot{
	height:10%;
	width: 181vh;
	bottom: 0;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
}

.dot-a {
	height: 10px;
	width: 10px;
	background-color: black;
	justify-content: space-between;
	margin-left: 20px;
	border-radius: 50%;
	transition: .8s;
	cursor: pointer;

}

.dot-a:hover{
	background-color: #0070FF;
	width: 20px;
	height: 20px;
	
}

